/* body{
    margin: 0;
}

div {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    margin: 0 auto;
}
.magic {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 20px;
}

.temperature {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    line-height: 1.4;
    height: auto;
    padding-top: 15px;
} */

/* body {
  font-family: sans-serif;
}

span {
  font-size: 26px;
}


.counter {
  display: flex;
  align-items: center;
}

.counter > p {
  margin: 0;
  font-size: 48px;
  font-family: monospace;
} */

button {
  margin: 10px;
  font-size: 26px;
  font-family: inherit;
  cursor: pointer;
}

.swiper {
  margin-top: 100px;
  width: 600px;
  height: 300px;
}

.red {
  background-color: red;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
}

li > a {
  font-size: 24px;
}

.site-nav__link {
  color: currentColor;
  text-decoration: none;
}

.site-nav__link:hover {
  text-decoration: underline;
}

.site-nav__link--current {
  color: tomato;
}

.color-picker__option {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}

.transaction-table {
  border-collapse: collapse;
}

.transaction-table th,
.transaction-table td {
  padding: 8px;
  border: 1px solid #2a2a2a;
}

.title__link {
  display: inline-flex;
  margin-left: 40px;
}

.additional-class {
  background-color: red;
}

